<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBPermission-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>BBPermission.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BBPermissionAppTracking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BBPermissionAppleMusic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BBPermissionBluetooth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BBPermissionCalendar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BBPermissionCamera.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BBPermissionContacts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BBPermissionCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>BBPermissionHealth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BBPermissionLocation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>BBPermissionMicrophone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>BBPermissionMotion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>BBPermissionNotification.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BBPermissionPhoto.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>BBPermissionReminder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>BBPermissionSiri.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>BBPermissionSpeech.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>BBPermissions-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>BBPermissions.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>BBPermissionsKit-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BBPermissionsKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBPermissionAppTracking</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionAppTrackingTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionAppleMusic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionAppleMusicTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionBluetooth</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionBluetoothTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionCalendar</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionCalendarTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionCamera</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionCameraTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionContacts</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionContactsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionCoreTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionHealth</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionHealthTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionLocation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionLocationTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionMicrophone</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionMicrophoneTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionMotion</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionMotionTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionNotification</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionNotificationTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionPhoto</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionPhotoTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionReminder</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionReminderTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionSiri</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionSiriTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionSpeech</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionSpeechTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBPermissionsKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
